:root {
    --sky-blue: rgb(153,204,255);
    --blue: rgb(0, 80, 240);
    --white: rgb(243,246,244);
    --light-grey: rgb(218,218,218);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}